@f-body-xs: 12px;
@f-body-s: 14px;
@f-body: 16px;
@f-body-m: 18px;
@f-body-l: 22px;
@f-h1: 108px;
@f-h2: 40px;
@f-h3: 32px;
@f-h4: 28px;
@f-h5: 24px;
@f-h6: 20px;

@f-title: 48px;

@f-link-l: 16px;
@f-link-m: 14px;
@f-link-s: 12px;

@lh-body-xs: 14px;
@lh-body-s: 16px;
@lh-body: 18px;
@lh-body-m: 22px;
@lh-body-l: 26px;

@lh-h1: 108px;
@lh-h2: 40px;
@lh-h3: 32px;
@lh-h4: 28px;
@lh-h5: 24px;
@lh-h6: 20px;

@f-title: 48px;

@primary: #FC7827;
@primary-hover: #CA601F;
@primary-active: #974817;

@default: #232323;

@secondary: #232323;
@secondary-hover: #404040;
@secondary-active: #5E5E5E;

@white: #ffffff;

@neutral: #999999;
@neutral-hover: #7B7B7B;
@neutral-active: #5E5E5E;

@light: #FFF2E9;
@light-hover: @primary;
@light-active: @primary-active;

@green: #5DB634;

@disabled: #E0E0E0;

@error: #F14C4C;

@bg-secondary: #F5F5F5;
@bg-green: #EFF8EB;

@checkbox: #c2c2c2;

@border-neutral: #EBEBEB;

@border-radius-xs: 8px;
@border-radius: 12px;
@border-radius-m: 16px;
@border-radius-xl: 32px;

@gap-3xs: 8px;

@shadow: 0px 8px 64px -12px rgba(20, 20, 20, 0.12);