@import url(_variables.less);
@import url(_mixins.less);

.auth-section {

    &__inner {
        position: relative;
        min-height: 100vh;
        padding: 16px 0 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__back {
        
    }

    &__footer {
        margin-top: auto;
    }
}