@import url(_variables.less);
@import url(_mixins.less);


.btn {
    .flex-center(inline-flex);

    font-weight: 500;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: @border-radius-xl;

    transition-property: color, background-color, border-color;

    .transition-ext(.3s, ease-in-out);

    &.disabled {
        cursor: none;
        pointer-events: none;
        background-color: @disabled;
        border-color: @disabled;
    }

    &:disabled {
        cursor: none;
        pointer-events: none;
        background-color: @disabled;
        border-color: @disabled;
    }

    &_primary {
        background-color: @primary;
        color: @white;
        border-color: @primary;

        &:hover {
            background-color: @primary-hover;
            border-color: @primary-hover;
        }

        &:active {
            background-color: @primary-active;
            border-color: @primary-active;
        }
    }

    &_secondary {
        background-color: @secondary;
        color: @white;
        border-color: @secondary;

        &:hover {
            background-color: @secondary-hover;
            border-color: @secondary-hover;
        }

        &:active {
            background-color: @secondary-active;
            border-color: @secondary-active;
        }
    }

    &_neutral {
        background-color: @neutral;
        color: @white;
        border-color: @neutral;

        &:hover {
            background-color: @neutral-hover;
            border-color: @neutral-hover;
        }

        &:active {
            background-color: @neutral-active;
            border-color: @neutral-active;
        }
    }

    &_light {
        background-color: @light;
        color: @default;
        border-color: @light;

        &:hover {
            background-color: @light-hover;
            color: @white;
            border-color: @light-hover;
        }

        &:active {
            background-color: @light-active;
            color: @white;
            border-color: @light-active;
        }
    }

    &_outline {
        background-color: transparent;
        color: @default;
        border-color: @primary;

        &:hover {
            border-color: @primary;
            background-color: @primary;
            color: @white;
        }

        &:active {
            border-color: @primary-active;
            background-color: @primary-active;
            color: @white;
        }
    }

    &_has-icon {
        gap: @gap-3xs;
    }

    &_size-s {
        .btn-size(7px 11px, 16px);
    }

    &_size-m {
        .btn-size(12px, 16px);
    }

    &_size-l {
        .btn-size(16px, 16px);
    }

    &_size-xl {
        .btn-size(20px, 16px);
    }

    &_icon {
        .icon-size(34px);

        &-m {          
            .icon-size(42px);
        }

        &-l {
            .icon-size(50px);
        }

        &-xl {
            .icon-size(58px);
        }
    }

    &_no-hover {
        pointer-events: none;
    }
}