@import url(_variables.less);
@import url(_mixins.less);

.cards {

    &--grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;

        .media-min(768px, {
            grid-template-columns: repeat(2, 1fr);
        });

        .media-min(1441px, {
            grid-template-columns: repeat(3, 1fr);
            gap: 32px;
        });
    }   
}

.card {
    border: 1px solid @border-neutral;
    border-radius: @border-radius-xl;
    display: flex;
    flex-direction: column;
    padding: 16px;

    min-height: 260px;
    
    transition-property: box-shadow;
    .transition-ext(.3s, ease-in-out);
    
    .media-min(768px, {
        padding: 24px;
        min-height: 298px;
    });
    
    &:hover {
        box-shadow: 0px 0px 32px rgba(20, 20, 20, 0.04), 0px 8px 12px -6px rgba(20, 20, 20, 0.04);

        .card__title {
            color: @primary;
        }
    }
    
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

        .media-min(1441px, {
            margin-bottom: 48px;
        });
    }
    
    &__bottom {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 16px;
        font-weight: 600;
        transition-property: color;
        .transition-ext(.3s, ease-in-out);

        .clamp-text(2);


        .media-min(768px, {
            font-size: 18px;
            line-height: 18px;
        });

        .media-min(1441px, {
            font-size: @f-h6;
            line-height: @lh-h6;
        });
    }

    &__description {
        .clamp-text(2);

        .media-min(1441px, {
            font-size: @f-body-m;
            line-height: @lh-body-m;
        });
    }
}

