@import url(_variables.less);
@import url(_mixins.less);


.company {

    &__tabs {

        .tabs {
            margin-bottom: 48px;
            overflow: auto;

            .media-min(768px, {
                margin-bottom: 56px;
            });

            .media-min(1024px, {
                margin-bottom: 64px;
            });

            .tabs__item {
                flex: 0 0 auto;
            }

            .tab {
                width: 166px;
            }
        }
    }
}

.company-info-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;

    .media-min(768px, {
        grid-template-columns: repeat(2, 1fr);
    });

    .media-min(1024px, {
        display: none;
    });

    &_side {
        display: none;
        grid-template-columns: 1fr;

        .media-min(1024px, {
            display: grid;
        });
    }

    &__item {
        padding: 12px 16px;
        border: 1px solid @border-neutral;
        border-radius: @border-radius-xl;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    &__icon {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__title {
        .media-max(1023px, {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            word-break: break-all;
        });
    }

    &__subtitle {
        color: @neutral;
        
        .media-max(1023px, {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            word-break: break-all;
        });
    }
}

.company-header {
    margin-bottom: 32px;

    &__top {

        .media-min(768px, {
            display: flex;
            gap: 32px;    
            align-items: center;
        });
    }

    &__avatar {
        margin-bottom: 20px;
        width: 64px;
        height: 64px;
        border-radius: @border-radius-xl;

        .media-min(768px, {
            width: 120px;
            height: 120px;
            margin-bottom: 0;
        });
    }

    &__info {

    }

    &__title {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 24px;

        .media-min(768px, {
            font-size: 28px;
            line-height: 28px;
            margin-bottom: 12px;
        });

        .media-min(1441px, {
            font-size: @f-h3;
            line-height: @lh-h3;
        });
    }

    &__activity {

    }

    &__bottom {
        margin-top: 32px;
    }
}

.activity-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;

    &__item {
        display: flex;
        gap: 4px;
        align-items: center;
    }
}