@import url(_variables.less);
@import url(_mixins.less);

.footer {
    padding: 24px 0;
    border-top: 1px solid @border-neutral;

    .media-min(768px, {
        padding: 32px 0 24px;
    });

    .media-min(1280px, {
        padding: 40px 0 32px;
    });

    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        gap: 20px;
        flex-direction: column;

        .media-min(1280px, {
            gap: 32px;
        });

        .media-min(1441px, {
            flex-direction: row;
            gap: 90px;
            margin-bottom: 32px;
        });

        .media-min(1920px, {
            gap: 135px;
        });
    }

    &__left {
        width: auto;
        flex: 1 1 auto;
        max-width: 100%;
        display: flex;
        flex-direction: column;

        .media-min(1280px, {
            flex-direction: row;
            gap: 32px;
            flex-wrap: wrap;
            align-items: center;
        });

        .media-min(1441px, {
            max-width: 360px;
        });
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1003px;
        flex: 1 1 auto;
        width: auto;
        gap: 20px;

        .media-min(768px, {
            gap: 40px;
            flex-direction: row;
            max-width: 637px;
            justify-content: flex-start;
        });

        .media-min(1441px, {
            max-width: 100%;
            justify-content: space-between;
        });
    }

    &__bottom {
        border-top: 1px solid @border-neutral;
        padding: 20px 0 0;
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;

        .media-min(1441px, {
            padding-top: 32px;
            flex-direction: row;
            justify-content: space-between;
        });
    }

    &__copyright {
        color: @neutral;
        font-size: @f-body-s;
        line-height: @lh-body-s;

        .media-min(1441px, {
            font-size: @f-body;
            line-height: @lh-body;
        });
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        .media-min(768px, {
            gap: 24px;
        });

        .media-min(1441px, {
            gap: 32px;
        });

        a {
            color: @neutral;
            font-size: @f-body-s;
            line-height: @lh-body-s;

            .media-min(1441px, {
                font-size: @f-body;
                line-height: @lh-body;
            });
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 20px;

        .media-min(1280px, {
            margin-bottom: 0;
        });

        .media-min(1441px, {
            margin-bottom: 0;
        });

        span {
            font-weight: 600;
            font-size: @f-body-m;
            line-height: 1.2;
            text-transform: uppercase;
        }

        svg {
            .icon-size(42px);
        }
    }

    &__info {
        font-weight: 500;
        color: @neutral;
        margin-bottom: 20px;
        font-size: @f-body-xs;
        line-height: @lh-body-xs;

        .media-min(1280px, {
            margin-bottom: 0;
        });
    }

    &__socials {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    &__social-btn {
        .icon-size(42px);

        path {
            .transition(fill, .3s, ease-in-out);
        }

        &:hover {
            path {
                fill: @white;
            }
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
    }

    &__caption {
        font-weight: 600;
        margin-bottom: 12px;
        color: @primary;

        .media-min(1441px, {
            font-size: @f-body-m;
            line-height: @lh-body-m;
            margin-bottom: 16px;
        });
    }


}

.f-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .media-min(1441px, {
        gap: 12px;
    });

    &__link {
        font-size: @f-body-s;
        line-height: @lh-body-s;

        .media-min(1441px, {
            font-size: @f-body;
            line-height: @lh-body;
        });
    }
}