// out: ../css/lk.css

@import url(_variables.less);
@import url(_mixins.less);

.error {
    border-color: @error !important;
}

.grid-bubbles {
    gap: 8px;
}

.tight-bubble {
    padding: 14px 20px;
    border-radius: 32px;

    span {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        color: @neutral;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 113%;
        color: @default;
    }
}

.gray-bubble {
    border: 1px solid @border-neutral;
    background-color: @bg-secondary;
}

.bright-bubble {
    border: 1px solid @border-neutral;
    transition: all .3 ease;

    &:hover, &:focus {
        border-color: @primary;
        transition: all .3 ease;
    }
}

.full-width {
    width: 100%;
    .flex-center();
    justify-content: space-between;

    span {
        margin: 0;
    }
}

.transp-btn {
    background: transparent;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 113%;

    svg {
        width: 16px;
        height: 16px;
    }
}

.big-bubble {
    padding: 16px 16px 20px;
    border: 1px solid @border-neutral;
    border-radius: 16px;
    transition: all .3s ease;

    span {
        font-weight: 400;
        font-size: 18px;
        line-height: 122%;
        color: @neutral;
    }

    p {
        font-weight: 600;
        font-size: 18px;
        line-height: 122%;
        color: @default;
    }
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.card-header {
    .flex-center();
    justify-content: space-between;
}

.state {
    padding: 4px 8px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    color: @white;
    max-width: max-content;

    &.publish {
        background-color: @green;
    }

    &.working {
        background-color: @warning;
    }

    &.blocked {
        background-color: @error;
    }

    &.neutral {
        background-color: @border-neutral;
        color: @default;
    }

    &.neutral_see {
        background-color: @checkbox;
        color: @white;
    }
}


.lk {
    padding-top: 82px;
    padding-bottom: 61px;

    /*
    .buttons-wrapper {
        button {
            svg path {
                fill: @checkbox;
                transition: all .3s ease;
            }
            &:hover {
                svg path {
                    fill: @primary;
                    transition: all .3s ease;
                }
            }
        }
    }
    */

    .with-icon {
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: space-between;

        svg {
            width: 24px;
            height: 24px;
        }

        &:hover, &:focus {
            border-color: @primary;

            .lk-bubble__buttons-wrapper {
                opacity: 1;
                pointer-events: all;
                transition: opacity .3s ease-in-out;
            }
        }
    }

    &__section-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 110%;
    }

    &__hidden {
        opacity: 0;
        pointer-events: none;
        max-height: 0;
        max-width: 0;
        visibility: hidden;
        transition: all .3s ease;
    }

    &__btn_has-icon {
        .flex-center();
        gap: 4px;
    }

    .page-title {
        font-size: 28px;
        line-height: 100%;
    }

    &__page-title {
        margin-bottom: 40px;
    }

    &-bubble {

        &__hidden-input {
            display: block;
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
            height: 0;
            width: 0;
            transition: all .3s ease;

            &.showed {
                opacity: 1;
                pointer-events: all;
                visibility: visible;
                height: 100%;
                width: 100%;
                transition: all .3s ease;
                color: #000;
            }
        }

        /*
        &:not(.bright-bubble) {
            &:hover {
                svg path {
                    fill: @primary;
                }
            }
        }
        */

        button, a {
            svg path {
                fill: auto;
                transition: all .3s ease;
            }
            &:hover {
                svg path {
                    fill: @primary;
                    transition: all .3s ease;
                }
            }
        }

        &__content {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        span {
            display: block;
            margin-bottom: 4px;
        }

        &__text-wrapper {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        &__buttons-wrapper {
            .flex-center();
            gap: 4px;
            opacity: 0;
            pointer-events: none;
            transition: opacity .3s ease-in-out;
        }

        &__education {
            flex-wrap: wrap;
            gap: 16px;

            .date {
                display: flex;
                flex-direction: column;
                gap: 8px;

                span {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 113%;
                    color: @default;
                }

                p {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 113%;
                    color: @primary;
                }
            }

            .text {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;

                span {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 113%;
                    color: @default;
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 113%;
                    color: @neutral;
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__sidebar {
        display: none;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__person {
        img {
            max-width: 80px;
            border-radius: 16px;
        }

        &-data {
            margin-top: 8px;
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 120%;

            div {
                font-weight: 600;
                font-size: 18px;
                line-height: 100%;
            }

            p {
                font-weight: 400;
                font-size: 12px;
                line-height: 117%;
                color: @neutral;
            }
        }
    }

    &__content {
        margin-bottom: 0;

        &:not(:last-of-type) {
            margin-bottom: 40px;
        }
    }

    &__buttons {
        display: flex;
        gap: 4px;

        .profile-btn {
            padding: 0;
            background: transparent;
            border: none;
            align-items: flex-start;

            span {
                display: none;
            }

            svg {
                display: none;
            }

            .mob-icon {
                svg {
                    display: block;
                }
            }
        }
    }

    &__tabs {
        flex-wrap: wrap;
        margin-bottom: 24px;
    }

    &__sorting {
        flex-direction: row;
        gap: 8px;
        margin-bottom: 41px;

        .sorting__button {
            span {
                font-weight: 400;
                font-size: 16px;
                line-height: 113%;
            }
            svg {
                width: 16px;
                height: 16px;
            }
        }
    }

    &__section-title-wrapper {
        margin-bottom: 32px;
    }

    &-card {
        border: 1px solid @border-neutral;
        box-shadow: none;
        transition: all .3s ease;

        &:hover {
            border-color: @primary;
            box-shadow: @shadow;
            transition: all .3s ease;

            button, a {
                &:not(.btn) {
                    color: @primary;
                    transition: all .3s ease;
                }
            }
        }

        &__wrapper {
            display: grid;
            gap: 4px;
        }

        &__buttons-wrapper {
            .flex-center();
            align-items: flex-start;
            gap: 4px;
        }

        &__notice {
            padding: 16px;
            border: 1px solid @border-neutral;
            background-color: @light;
            border-radius: 16px;
            display: flex;
            justify-content: space-between;
            gap: 4px;

            button:not(.btn--ok) {
                svg path {
                    fill: initial;
                    transition: all .3s ease;
                }
                &:hover {
                    svg path {
                        fill: @primary;
                        transition: all .3s ease;
                    }
                }
            }
        }
    }

    .deals {
        &-wrapper {
            padding-bottom: 64px;
        }
        &-list {
            gap: 12px;
            margin-bottom: 32px;
        }
        &-item {
            border-radius: 20px;
            padding: 20px 16px;
            transition: all .3s ease;

            &__header {
                margin-bottom: 17px;
            }
        }
        &__title-block {
            margin-bottom: 16px;

            span {
                display: block;
                font-weight: 500;
                font-size: 14px;
                line-height: 114%;
                color: @neutral;
                margin-bottom: 8px;
            }
            a {
                display: block;
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                color: @default;
                margin-bottom: 12px;
                transition: all .3s ease;
            }
            ul {
                gap: 12px;
                font-weight: 400;
                font-size: 16px;
                line-height: 113%;
            }
        }
        &__info-block {
            .flex-center();
            justify-content: flex-start;
            gap: 70px;
        }
        &__item {
            display: flex;
            flex-direction: column;
            gap: 8px;

            span {
                font-weight: 500;
                font-size: 14px;
                line-height: 114%;
                color: @neutral;
            }
            p {
                font-weight: 600;
                font-size: 16px;
                line-height: 113%;
                color: @default;
            }
        }

        &__title-wrapper {
            margin-bottom: 40px;
        }

    }

    .vacancies {
        &-all {
            max-width: max-content;
        }
        &-list {
            gap: 8px;
            margin-bottom: 40px;

            .offers-grid__bottom {
                gap: 22px;

                .btn_light {
                    width: 100%;
                }
            }
        }
    }

    .responces {

        &-list {
            gap: 12px;
            margin-bottom: 40px;

            &__item {
                padding: 16px;
                border-radius: 16px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                transition: all .3s ease;
            }
        }

        &-item {
            &__status {
                color: @default;
            }
            &__icon {
                max-width: 48px;
                max-height: 48px;
                margin-bottom: 20px;
            }
            &__content {
                display: flex;
                flex-direction: column;
                gap: 8px;

                h3 {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 100%;
                    color: #000;
                    .clamp-text(1);
                }

                span, p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 113%;
                    color: @neutral;
                }
            }
            &__btn {
                max-width: 170px;
            }
        }
    }

    .notify {
        &-list {
            gap: 12px;
            margin-bottom: 40px;

            &__item {
                padding: 16px;
                border-radius: 20px;
                position: relative;

                &-header {
                    .flex-center();
                    justify-content: flex-start;
                    gap: 12px;
                    margin-bottom: 12px;

                    .avatar {
                        border-radius: 100%;
                        width: 32px;
                        height: 32px;
                    }
                    span {
                        line-height: 18px;
                        font-weight: 500;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    right: 16px;
                    top: 16px;
                }

                &.unseen::after {
                    background-color: @warning;
                }
                &.new::after {
                    background-color: @green;
                }
                &.viewed::after {
                    background-color: @checkbox;
                }

                h3 {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 100%;
                    color: @default;
                    margin-bottom: 12px;
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 113%;
                    color: @neutral;
                    margin-bottom: 16px;
                }
            }
        }
    }

    .favorite {
        &-list {
            gap: 12px;
            margin-bottom: 40px;

            &__item {
                .offers-list__top {
                    margin-bottom: 24px;
                }
                .offers-list__content {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 24px;
                    margin-bottom: 24px;

                    .profile {
                        grid-template-columns: repeat(1, 1fr);
                        gap: 20px;
                    }

                    .offers-list__info {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .companies-grid {
        gap: 12px;
        margin-bottom: 40px;

        &__link {
            border: none;
            padding: 0;
            max-width: 95%;
        }

        &__item {
            display: flex;
            position: relative;
            padding: 12px 20px 12px 12px;
            border-radius: 16px;

            .icon-button {
                position: absolute;
                top: 0;
                right: 0;
                padding: 0;

                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    .employer {

        &__deals-dop-btns {
            .flex-center();
            justify-content: space-between;
            gap: 8px;
            width: 100%;

            .btn_light {
                width: 100%;
            }
        }

        &-requisites {
            .lk-bubble {
                p {
                    .clamp-text(1);
                }
            }
        }

        &__title-wrapper {
            margin-bottom: 40px;
        }

        &__search-form {
            margin-bottom: 24px;
        }

        &__responces {
            &-list {
                gap: 12px;
                margin-bottom: 40px;
            }

            &-item {
                border-radius: 16px;
                padding: 16px 16px 24px;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 24px;

                &__status {
                    padding: 8px 16px;
                }

                &__vacancy {
                    font-weight: 500;
                    line-height: 113%;
                    color: @primary;
                }

                &__body {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 16px;

                    .profile {
                        grid-template-columns: repeat(1, 1fr);
                        gap: 20px;
                        margin-bottom: 8px;
                    }
                }

                &__footer {
                    .flex-center();
                    flex-direction: column;
                    gap: 20px;

                    .buttons-wrapper {
                        .flex-center();
                        gap: 8px;
                        flex-wrap: wrap;

                        .chat__btn {
                            width: 50%;
                        }

                        a {
                            width: 100%;
                            margin-top: 12px;
                        }
                    }
                }

                &__title {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 12px;

                    h3 {
                        margin-bottom: 0
                    }

                    span {
                        font-size: 14px;
                        line-height: 114%;
                        color: @neutral;
                    }
                }
            }
        }
    }

    .mob__hide-text {
        span {
            display: none;
        }
    }

    &__form {
        overflow-y: scroll;
        &-inputs {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 24px;
            width: 100%;
        }
    }

    &__main-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        height: 90vh;

        &-btn {
            background-color: @white;
            padding: 24px;
            position: fixed;
            bottom: 0;
            width: 100%;

            button {
                justify-content: center;
            }
        }

        &-inputs {
            margin-bottom: 100px;
        }
    }

    &__input-element {
        p {
            display: block;
            margin-top: 12px;
            font-weight: 400;
            font-size: 14px;
            line-height: 114%;
            color: @neutral;
        }
        .subcaption {
            margin-bottom: 16px;
            display: block;
        }
    }

    &__input-wrapper {
        padding: 12px 20px;
        border: 1px solid @border-neutral;
        border-radius: 32px;
        position: relative;
        color: @default;
        background-color: transparent;
        transition: all .3s ease;
        width: 100%;
        cursor: pointer;
        background-color: transparent;
        transition: all .3s ease;

        input {
            font-weight: 400;
            font-size: 18px;
            line-height: 122%;
            color: @neutral;
            display: inline-block;
            width: 100%;
        }

        input[type="radio"], input[type="checkbox"] {
            opacity: 0;
            width: 0;
            height: 0;
            visibility: hidden;
            position: absolute;
            width: 100%;
        }

        input[type="text"] {
            .clamp-text(1);
        }

        &:has(input:checked) {
            color: @white;
            background-color: @primary;
            transition: all .3s ease;

            svg path {
                fill: @white;
            }
        }
    }

    &__input-grid {
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(2, 1fr);

        .lk__input-wrapper:nth-child(3) {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    &__inputs-set {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }

    &__custom-select {
        position: relative;

        &-choise {
            background-color: @white;
        }

        &::after {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url(/images/arrow-bottom.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            right: 0;
            top: 50%;
            transform: rotate(0deg) translate(50%, -50%);
            transition: transform .3s ease;
        }

        &.active {
            z-index: 1001;
            &::after {
                transform: rotate(180deg) translate(-50%, 50%);
                transition: transform .3s ease;
            }
        }

        &-list {
            padding: 22px 20px 12px 20px;
            background-color: @white;
            border-radius: 0 0 22px 22px;
            position: absolute;
            top: 20px;
            left: 0;
            width: 100%;
            border-bottom: 1px solid @border-neutral;
            border-right: 1px solid @border-neutral;
            border-left: 1px solid @border-neutral;
            opacity: 0;
            pointer-events: none;
            z-index: -1;
            transition: opacity .3s ease;

            &-container {
                max-height: 160px;
                overflow-y: scroll;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 8px;
            }

            &.active {
                opacity: 1;
                pointer-events: all;
                z-index: 1000;
                transition: opacity .3s ease;
            }

            div {
                color: @default;
                transition: color .3s ease;

                &:hover, &.active {
                    color: @primary;
                    transition: color .3s ease;
                }
            }
        }
    }

    &__radio-buttons {
        display: flex;
        align-items: center;
        gap: 8px;

        label {
            text-align: center;
            max-width: max-content;
            background-color: transparent;
            color: @default;
            transition: all .3s ease;

            &:hover {
                background-color: @primary;
                color: @white;
                transition: all .3s ease;

                svg path {
                    fill: @white;
                    transition: all .3s ease;
                }
            }
        }
    }

    &__checkbox-buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;

        label {
            text-align: center;

            &:hover {
                background-color: @primary;
                color: @white;
                transition: all .3s ease;
            }
        }
    }

    &__modal {
        &-form {
            display: flex;
            flex-direction: column;
            gap: 32px;

            &-title {
                font-weight: 600;
                font-size: 24px;
                line-height: 100%;
            }

            &-content {
                display: flex;
                flex-direction: column;
                gap: 24px;
            }
        }
    }

    &__contacts-form {
        .lk__radio-buttons label.lk__input-wrapper {
            padding: 12px;
            border-radius: 100%;
            .flex-center();
        }
    }

    .docs {
        &-bubbles {
            margin-bottom: 40px;
            .lk-bubble {
                gap: 8px;
                &__content {
                    gap: 8px;
                    svg {
                        min-width: 32px;
                        height: 32px;
                    }
                }
                &__text-wrapper {
                    p {
                        word-break: break-all;
                        .clamp-text(1);
                    }
                }
                &__buttons-wrapper {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
        &__section {
            > button {
                width: 100%;
            }
        }
    }

    .show-all-btn {
        color: initial;
        transition: color .3s ease;

        &:hover {
            color: @primary;
            transition: color .3s ease;
        }
    }

    .moderator {
        &__list {
            gap: 12px;
        }
        &__item {
            padding: 20px 16px;
            border-radius: 20px;
            gap: 16px;

            &__date-wrapper {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .date {
                    color: @neutral;
                }

                .employment {
                    font-size: 14px;
                    line-height: 114%;
                    color: @neutral;
                }
            }

            .offers-grid__info {
                margin-bottom: 0;
                gap: 12px;

                .offer-info__item {
                    font-size: 16px;
                }
            }

            .offers-grid__tags {
                margin-bottom: 0;
                gap: 12px;
                flex-wrap: wrap;
            }

            .offers-grid__bottom {
                flex-direction: column;
                gap: 16px;
                align-items: flex-start;
                padding-top: 16px;
                border-top: 1px solid @border-neutral;

                .offer-actions {
                    flex-direction: column;
                    gap: 16px;
                    align-items: flex-start;
                }
            }
        }
        &__resume-list {
            .moderator__item__date-wrapper {
                gap: 8px;
                margin-bottom: 8px;
            }
            .offers-grid__tags {
                flex-direction: column;
            }
        }
        &__img {
            max-width: 120px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    
}

.btn--ok {
    display: block;
    max-width: 0;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all .3s ease;

    &.showed {
        max-width: 100%;
        max-height: 100%;
        opacity: 1;
        pointer-events: all;
        visibility: visible;
        transition: all .3s ease;
    }
}

.desk-elem {
    display: none;

    .media-min(768px, {
        display: block;
    });
}