@import url(_variables.less);
@import url(_mixins.less);

.rezume {
    position: relative;
}

.rezume-header {
    position: relative;

    &__avatar {
        margin-bottom: 24px;

        .media-min(768px, {
           width: 120px;
           height: 120px;
           margin-bottom: 0; 
        });

        .media-min(1441px, {
            width: 259px;
            height: 259px;
            position: absolute;
            top: 0;
            left: 0;
        });
    }

    &__top {
        padding-bottom: 24px;
        border-bottom: 1px solid @border-neutral;
        margin-bottom: 24px;

        .media-min(768px, {
            display: flex;
            gap: 24px;
        });

        .media-min(1441px, {
            gap: 0;
            padding-bottom: 0;
            border-bottom: 0;
        });
    }

    &__bottom {

        .media-min(1441px, {
            padding-left: 291px;
            padding-bottom: 16px;
        });
    }

    &__tags {
        margin-bottom: 16px;
    }

    &__info {
        margin-bottom: 24px;
    }

    &__header {

        .media-min(1441px, {
           padding-left: 291px; 
        });
    }
}

