@import url(_variables.less);
@import url(_mixins.less);

.offers-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;

    .media-min(768px, {
        grid-template-columns: repeat(2, 1fr);
    });

    .media-min(1441px, {
        gap: 16px;
    });

    &_single {
        grid-template-columns: 1fr;
    }

    &__item {
        padding: 15px;
        border: 1px solid @border-neutral;
        border-radius: @border-radius-m;
        display: flex;
        flex-direction: column;
        .transition(box-shadow, .3s, ease-in-out);

        .media-min(768px, {
            padding: 19px;
            border-radius: @border-radius-xl;
        });

        &:hover {
            box-shadow: 0px 8px 64px -12px rgba(20, 20, 20, 0.12);
        }
    }

    &__title {
        margin-bottom: 12px;
        font-weight: 600;
        transition: color .3s ease-in-out;
        font-size: 18px;
        line-height: 18px;

        .media-min(1441px, {
            font-size: @f-h6;
            line-height: @lh-h6;
        });

        &:hover {
            color: @primary;
        }

        &:active {
            color: @primary-active;
        }
    }

    &__sale {
        margin-bottom: 12px;

        .media-min(768px, {
            font-size: @f-body-m;
            line-height: @lh-body-m;
        });

        .media-min(1441px, {
            font-size: @f-body-l;
            line-height: @lh-body-l;
            margin-bottom: 16px;
        });
    }

    &__tags {
        margin-bottom: 16px;
        gap: 4px;
    }

    &__info {
        margin-bottom: 16px;

        .media-min(1441px, {
            margin-bottom: 20px;
        });
    }

    &__description {
        color: @neutral;
        margin-bottom: 16px;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        .media-min(1441px, {
            margin-bottom: 20px;
        });
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;

        .btn {
            font-size: @f-body-s;
            line-height: @lh-body-s;
        }
    }
}