.page-title {
  font-size: 32px;
  line-height: 32px;
}
@media screen and (min-width: 768px) {
  .page-title {
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (min-width: 1441px) {
  .page-title {
    font-size: 48px;
    line-height: 48px;
  }
}
.label-title {
  font-size: 18px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .label-title {
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1441px) {
  .label-title {
    font-size: 24px;
    line-height: 24px;
  }
}
.about-section {
  margin-bottom: 56px;
}
@media screen and (min-width: 768px) {
  .about-section {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1441px) {
  .about-section {
    margin-bottom: 112px;
  }
}
.about-first {
  margin-top: 66px;
}
@media screen and (min-width: 768px) {
  .about-first {
    margin-top: 74px;
  }
}
@media screen and (min-width: 1441px) {
  .about-first {
    margin-top: 80px;
  }
}
@media screen and (min-width: 1441px) {
  .about-first {
    margin-top: 90px;
  }
}
.about-hero {
  background-color: #FFF2E9;
  overflow: hidden;
  border-radius: 0 0 32px 32px;
  position: relative;
}
.about-hero__inner {
  padding: 80px 0 56px;
}
@media screen and (min-width: 768px) {
  .about-hero__inner {
    padding: 80px 0;
  }
}
.about-hero__bg {
  position: absolute;
  bottom: 0;
  width: 1420px;
  left: calc(-715px + (100vw/2));
}
@media screen and (min-width: 768px) {
  .about-hero__bg {
    width: 1510px;
    left: calc(-795px + (100vw/2));
  }
}
@media screen and (min-width: 1024px) {
  .about-hero__bg {
    width: 1200px;
    left: calc(-630px + (100vw/2));
  }
}
@media screen and (min-width: 1441px) {
  .about-hero__bg {
    width: 1600px;
    left: auto;
    right: 0;
  }
}
.about-hero__row {
  position: relative;
  z-index: 1;
}
.about-hero__title {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 24px;
  word-break: break-word;
  letter-spacing: 1px;
}
@media screen and (min-width: 360px) {
  .about-hero__title {
    letter-spacing: 0;
  }
}
@media screen and (min-width: 768px) {
  .about-hero__title {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1024px) {
  .about-hero__title {
    max-width: 960px;
  }
}
@media screen and (min-width: 1441px) {
  .about-hero__title {
    font-size: 108px;
    line-height: 108px;
    max-width: 100%;
  }
}
.about-hero__title span {
  color: #FC7827;
}
@media screen and (min-width: 1510px) {
  .about-hero__title br {
    display: none;
  }
}
.about-hero__bottom {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .about-hero__bottom {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
  }
}
.about-hero__text {
  font-weight: 600;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .about-hero__text {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1024px) {
  .about-hero__text {
    margin-bottom: 0;
  }
}
.about-hero__actions {
  padding: 8px;
  border-radius: 32px;
  box-shadow: 0px 0px 32px rgba(20, 20, 20, 0.04), 0px 8px 12px -6px rgba(20, 20, 20, 0.04);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media screen and (min-width: 768px) {
  .about-hero__actions {
    flex-direction: row;
    max-width: 504px;
    flex: 0 0 auto;
    width: 100%;
  }
}
.about-hero__btn {
  width: 100%;
  font-size: 18px;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  .about-hero__btn {
    font-size: 16px;
    line-height: 18px;
  }
}
.about-info {
  overflow: hidden;
}
.about-info__row {
  position: relative;
}
.about-info__image {
  display: none;
}
@media screen and (min-width: 1024px) {
  .about-info__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 697px;
    top: 0;
  }
}
@media screen and (min-width: 1441px) {
  .about-info__image {
    left: 888px;
  }
}
.about-info__image img {
  object-fit: cover;
}
.about-info__content {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .about-info__content {
    max-width: 635px;
  }
}
@media screen and (min-width: 1441px) {
  .about-info__content {
    max-width: 856px;
  }
}
.about-info__title {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .about-info__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1441px) {
  .about-info__title {
    font-size: 40px;
    line-height: 40px;
  }
}
.about-info__title span {
  color: #FC7827;
}
.about-info__accent {
  color: #FC7827;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .about-info__text {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1441px) {
  .about-info__text {
    font-size: 22px;
    line-height: 26px;
  }
}
.about-info__text_first {
  margin-bottom: 40px;
}
.about-info__caption {
  display: block;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #FC7827;
}
.about-info__steps {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .about-info__steps {
    gap: 16px;
  }
}
@media screen and (min-width: 768px) {
  .about-info__step {
    padding: 16px 23px;
    font-size: 16px;
  }
}
.about-features__title {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .about-features__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1441px) {
  .about-features__title {
    font-size: 40px;
    line-height: 40px;
  }
}
.about-features__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .about-features__list {
    gap: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .about-features__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1441px) {
  .about-features__list {
    gap: 32px;
  }
}
.about-features__item {
  padding: 16px;
  border-radius: 32px;
  border: 1px solid #EBEBEB;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .about-features__item {
    padding: 24px;
  }
}
@media screen and (min-width: 1441px) {
  .about-features__item {
    padding: 32px;
  }
}
.about-features__image {
  width: 88px;
  height: 88px;
  margin-bottom: 24px;
}
@media screen and (min-width: 1024px) {
  .about-features__image {
    width: 144px;
    height: 144px;
  }
}
@media screen and (min-width: 1441px) {
  .about-features__image {
    margin-bottom: 32px;
  }
}
.about-features__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about-features__caption {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 24px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about-features__caption {
    font-size: 24px;
    line-height: 24px;
  }
}
@media screen and (min-width: 1441px) {
  .about-features__caption {
    font-size: 28px;
    line-height: 28px;
  }
}
.about-features__tabs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .about-features__tabs {
    flex-direction: row;
  }
}
.about-features__tab {
  font-size: 18px;
  line-height: 22px;
}
.about-advantages {
  overflow: hidden;
}
.about-advantages__inner {
  position: relative;
}
.about-advantages__title {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .about-advantages__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1441px) {
  .about-advantages__title {
    font-size: 40px;
    line-height: 40px;
  }
}
.about-advantages__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .about-advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .about-advantages__list {
    max-width: 635px;
  }
}
@media screen and (min-width: 1441px) {
  .about-advantages__list {
    gap: 12px;
    max-width: 856px;
  }
}
.about-advantages__img {
  display: none;
}
@media screen and (min-width: 1024px) {
  .about-advantages__img {
    display: block;
    position: absolute;
    left: 650px;
    top: 0;
  }
}
@media screen and (min-width: 1441px) {
  .about-advantages__img {
    left: 870px;
  }
}
@media screen and (min-width: 1601px) {
  .about-advantages__img {
    border: 1px solid #EBEBEB;
    border-radius: 32px;
  }
}
@media screen and (min-width: 768px) {
  .about-advantages__item {
    padding: 15px 23px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1441px) {
  .about-advantages__item {
    padding: 24px 32px 24px 23px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1441px) {
  .about-advantages__item span {
    font-size: 18px;
    line-height: 22px;
  }
}
.about-philosophy {
  overflow: hidden;
}
.about-philosophy__title {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .about-philosophy__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1441px) {
  .about-philosophy__title {
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .about-philosophy__list {
    overflow: visible;
  }
}
@media screen and (max-width: 767px) {
  .about-philosophy__list .swiper-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
.about-philosophy__item {
  padding: 24px 24px 32px;
  border: 1px solid #EBEBEB;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .about-philosophy__item {
    width: 485px;
    height: auto;
  }
}
@media screen and (min-width: 1441px) {
  .about-philosophy__item {
    padding: 32px 32px 40px;
  }
}
.about-philosophy__image {
  width: 50px;
  height: 50px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-philosophy__caption {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 24px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about-philosophy__caption {
    font-size: 24px;
    line-height: 24px;
  }
}
@media screen and (min-width: 1441px) {
  .about-philosophy__caption {
    font-size: 28px;
    line-height: 28px;
  }
}
@media screen and (min-width: 768px) {
  .about-philosophy__text {
    font-size: 18px;
    line-height: 22px;
  }
}
