.page-title {
  font-size: 32px;
  line-height: 32px;
}
@media screen and (min-width: 768px) {
  .page-title {
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (min-width: 1441px) {
  .page-title {
    font-size: 48px;
    line-height: 48px;
  }
}
.label-title {
  font-size: 18px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .label-title {
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1441px) {
  .label-title {
    font-size: 24px;
    line-height: 24px;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #FFFFFF;
  transition: background-color 0.2s ease-in-out;
}
.header > .container {
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  z-index: 10;
  background: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header > .container {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .header > .container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.header.scrolled {
  background-color: #FFFFFF;
}
.header__row {
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-right: 12px;
  width: 34px;
  height: 34px;
  padding: 0;
}
@media screen and (min-width: 1280px) {
  .header__logo {
    width: auto;
    height: auto;
    margin-right: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo svg {
    width: 42px;
    height: 42px;
    padding: 0;
  }
}
.header__logo span {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
}
@media screen and (max-width: 1279px) {
  .header__logo span {
    display: none;
  }
}
.header__nav {
  margin-right: 20px;
}
.header__toolbar {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0 4px;
}
@media screen and (min-width: 1280px) {
  .header__toolbar .btn {
    padding: 11px 12px;
    font-size: 16px;
  }
}
.header__search-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 9px;
  background-color: #FFFFFF;
  border-radius: 32px;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.header__search-icon:hover path {
  fill: #FC7827;
}
.header__search-icon:hover span {
  color: #FC7827;
}
@media screen and (min-width: 768px) {
  .header__search-icon {
    padding: 9px 12px;
  }
}
@media screen and (min-width: 1024px) {
  .header__search-icon {
    display: none;
  }
}
.header__search-icon path {
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.header__search-icon span {
  display: none;
  color: #232323;
  transition: color 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .header__search-icon span {
    display: block;
  }
}
@media screen and (max-width: 1023px) {
  .header.is-auth .lk-btn {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .header.is-auth .lk-create-link {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .header.is-auth .burger {
    display: flex;
  }
}
.nav {
  position: relative;
}
.nav__list {
  display: flex;
  gap: 0 24px;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .nav__list {
    flex-direction: column;
    gap: 10px 0;
    position: absolute;
    top: 0px;
    left: -12px;
    align-items: flex-start;
    padding: 10px 12px;
    background-color: #FFFFFF;
    border: 1px solid #FC7827;
    border-radius: 12px;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility, top;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
}
@media screen and (max-width: 767px) {
  .nav__list.active {
    opacity: 1;
    visibility: visible;
    top: 30px;
  }
}
.nav__link {
  font-size: 16px;
}
@media screen and (max-width: 1440px) {
  .nav__link {
    font-size: 14px;
  }
}
.nav__link.active {
  border-color: #FC7827;
}
.nav__select {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #232323;
}
.nav__select span {
  color: #232323;
  border-bottom: 1px solid transparent;
  transition-property: color, border-color;
  font-size: 14px;
  line-height: 16px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.nav__select:hover span {
  color: #FC7827;
  border-color: #FC7827;
}
.nav__select:active span {
  color: #974817;
  border-color: #974817;
}
@media screen and (min-width: 768px) {
  .nav__select {
    display: none;
  }
}
.burger {
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger > svg.close {
  opacity: 0;
  z-index: -1;
  position: absolute;
  transition: opacity 0.3s ease;
}
.burger > svg.open {
  opacity: 1;
  z-index: 1;
  position: relative;
  transition: opacity 0.3s ease;
}
.burger.active > svg.close {
  opacity: 1;
  z-index: 1;
  position: relative;
  transition: opacity 0.3s ease;
}
.burger.active > svg.open {
  opacity: 0;
  z-index: -1;
  position: absolute;
  transition: opacity 0.3s ease;
}
@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .lk-btn {
    padding: 11px 12px;
    font-size: 16px;
  }
}
.admin-login {
  padding: 8px 12px;
}
.admin-login svg {
  display: none;
}
@media screen and (min-width: 1024px) {
  .admin-login {
    padding: 11px 12px;
  }
  .admin-login svg {
    display: block;
  }
}
.admin-logout {
  padding: 9px;
}
@media screen and (min-width: 1024px) {
  .admin-logout {
    padding: 11px;
  }
}
@media screen and (max-width: 767px) {
  .lk-chat {
    width: 42px;
    height: 42px;
    padding: 12px;
  }
}
.lk-chat path {
  transition: fill 0.3s linear;
}
.lk-chat:hover path {
  fill: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .lk-chat span {
    display: none;
  }
}
.burger-menu {
  display: block;
  position: absolute;
  top: -100px;
  opacity: 0;
  visibility: hidden;
  background-color: #FFFFFF;
  padding: 16px 16px 24px;
  z-index: -1;
  border-radius: 0 0 16px 16px;
  transition-property: opacity, visibility, top, z-index;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.burger-menu.active {
  opacity: 1;
  visibility: visible;
  width: 100%;
  top: 100%;
  z-index: 9;
}
@media screen and (min-width: 1024px) {
  .burger-menu.active {
    display: none;
  }
}
.burger-menu__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.burger-menu__list a:not(.btn) {
  font-size: 16px;
  line-height: 18px;
}
.burger-menu__list a.btn {
  width: 100%;
}
.burger-menu__list a.btn.btn_primary {
  margin-bottom: 16px;
}
.burger-menu__hr {
  width: 100%;
  height: 2px;
  background-color: #232323;
  margin: 16px 0;
}
.burger-menu__item_exit .link {
  color: #FC7827;
}
.auth-mobile-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px 16px;
  background-color: #FFFFFF;
  border-top: 1px solid #EBEBEB;
  z-index: 100;
  box-shadow: 0 8px 12px -6px rgba(20, 20, 20, 0.04), 0 0 32px 0 rgba(20, 20, 20, 0.04);
}
@media screen and (min-width: 465px) {
  .auth-mobile-menu {
    padding: 12px 16px;
  }
}
@media screen and (min-width: 768px) {
  .auth-mobile-menu {
    padding: 12px 32px;
  }
}
@media screen and (min-width: 1024px) {
  .auth-mobile-menu {
    display: none;
  }
}
.auth-mobile-menu__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}
.auth-mobile-menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  text-align: center;
}
.auth-mobile-menu__item.notify a {
  position: relative;
}
.auth-mobile-menu__item.notify a::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #5DB634;
}
.auth-mobile-menu__item span {
  font-weight: 400;
  font-size: 6px;
  line-height: 100%;
  color: #999999;
  transition: color 0.3s ease;
}
@media screen and (min-width: 465px) {
  .auth-mobile-menu__item span {
    font-size: 10px;
  }
}
.auth-mobile-menu__item svg path {
  transition: fill 0.3s ease;
}
.auth-mobile-menu__item:hover span,
.auth-mobile-menu__item:active span,
.auth-mobile-menu__item.active span {
  color: #FC7827;
  transition: color 0.3s ease;
}
.auth-mobile-menu__item:hover svg path,
.auth-mobile-menu__item:active svg path,
.auth-mobile-menu__item.active svg path {
  fill: #FC7827;
  transition: fill 0.3s ease;
}
