.page-title {
  font-size: 32px;
  line-height: 32px;
}
@media screen and (min-width: 768px) {
  .page-title {
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (min-width: 1441px) {
  .page-title {
    font-size: 48px;
    line-height: 48px;
  }
}
.label-title {
  font-size: 18px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .label-title {
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1441px) {
  .label-title {
    font-size: 24px;
    line-height: 24px;
  }
}
.error {
  border-color: #F14C4C !important;
}
.tight-bubble {
  padding: 8px 16px;
  border-radius: 32px;
}
.tight-bubble span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #999999;
}
.tight-bubble p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #232323;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gray-bubble {
  border: 1px solid #EBEBEB;
  background-color: #F5F5F5;
}
.bright-bubble {
  border: 1px solid;
  border-color: #EBEBEB;
  transition: border-color 0.3 ease;
}
.bright-bubble:hover,
.bright-bubble:focus {
  border-color: #FC7827;
  transition: border-color 0.3 ease;
}
.full-width {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.full-width span {
  margin: 0;
}
.transp-btn {
  background: transparent;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.transp-btn svg {
  width: 16px;
  height: 16px;
}
.big-bubble {
  padding: 16px 16px 20px;
  border: 1px solid #EBEBEB;
  border-radius: 16px;
  transition: all 0.3s ease;
}
.big-bubble span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #999999;
}
.big-bubble p {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #232323;
}
.grid-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.grid-bubbles {
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .grid-bubbles.personal-bubbles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid-bubbles.employer-bubbles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1441) {
  .grid-bubbles.language-list {
    grid-template-columns: repeat(2, 1fr);
    max-width: 55%;
  }
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.state {
  padding: 4px 8px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  max-width: max-content;
}
.state.publish {
  background-color: #5DB634;
}
.state.working {
  background-color: #FFB700;
}
.state.blocked {
  background-color: #F14C4C;
}
.state.neutral {
  background-color: #EBEBEB;
  color: #232323;
}
.state.neutral_see {
  background-color: #c2c2c2;
  color: #FFFFFF;
}
.lk {
  padding-top: 74px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .lk {
    padding-top: 90px;
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1280) {
  .lk {
    padding-top: 106px;
  }
}
@media screen and (min-width: 1441) {
  .lk {
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 1441) {
  .lk .contact-fields {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1280) {
  .lk .input-edit-form .lk-bubble__buttons-wrapper {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
}
@media screen and (min-width: 1280) {
  .lk .input-edit-form:hover {
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease;
  }
}
.lk .subcaption {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .lk .subcaption {
    margin-bottom: 24px;
  }
}
.lk__pagination {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .lk__pagination {
    margin-top: 32px;
  }
}
.lk .with-icon {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  border-color: auto;
  transition: border-color 0.3s ease;
}
.lk .with-icon svg {
  width: 24px;
  height: 24px;
}
.lk .with-icon:hover,
.lk .with-icon:focus {
  border-color: #FC7827;
  transition: border-color 0.3s ease;
}
.lk .with-icon:hover .lk-bubble__buttons-wrapper,
.lk .with-icon:focus .lk-bubble__buttons-wrapper {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s ease-in-out;
}
.lk__section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  .lk__section-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1441) {
  .lk__section-title {
    font-size: 28px;
  }
}
.lk__hidden {
  opacity: 0;
  pointer-events: none;
  max-height: 0;
  max-width: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.lk__btn_has-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.lk .page-title {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .lk .page-title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1441) {
  .lk .page-title {
    font-size: 40px;
    line-height: 40px;
  }
}
.lk-bubble {
  /*
        &:not(.bright-bubble) {
            &:hover {
                svg path {
                    fill: @primary;
                }
            }
        }
        */
}
.lk-bubble__hidden-input {
  display: block;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  height: 0;
  width: 0;
  transition: all 0.3s ease;
}
.lk-bubble__hidden-input.showed {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
  color: #000;
}
.lk-bubble button svg path,
.lk-bubble a svg path {
  transition: fill 0.3s ease;
}
.lk-bubble button:hover svg path,
.lk-bubble a:hover svg path {
  fill: #232323;
  transition: all 0.3s ease;
}
.lk-bubble__content {
  display: flex;
  align-items: center;
  gap: 12px;
}
.lk-bubble span {
  display: block;
  margin-bottom: 2px;
}
.lk-bubble__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.lk-bubble__buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.lk-bubble__education {
  flex-wrap: wrap;
  gap: 16px;
}
.lk-bubble__education .date {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.lk-bubble__education .date span {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #232323;
}
.lk-bubble__education .date p {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #FC7827;
}
.lk-bubble__education .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.lk-bubble__education .text span {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #232323;
}
.lk-bubble__education .text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #999999;
}
.lk__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
@media screen and (min-width: 1441) {
  .lk__wrapper {
    gap: 32px;
  }
}
.lk__wrapper-content {
  width: 100%;
}
.lk .inline-form__btn {
  width: 42px;
  height: 42px;
}
.lk .inline-form__btn svg {
  display: block !important;
}
@media screen and (min-width: 768px) {
  .lk .inline-form__btn {
    width: max-content;
    height: auto;
    padding: 0 12px;
  }
}
.lk__sidebar {
  display: none;
}
@media screen and (min-width: 1024px) {
  .lk__sidebar {
    display: flex;
    width: max-content;
    white-space: nowrap;
    max-width: 240px;
  }
}
.lk__sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}
.lk__sidebar ul li {
  border: 1px solid;
  border-color: #EBEBEB;
  border-radius: 16px;
  padding: 20px 40px 20px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  transition: all 0.3s ease;
}
.lk__sidebar ul li svg path {
  transition: fill 0.3s ease;
}
.lk__sidebar ul li a {
  color: #232323;
  transition: color 0.3s ease;
}
.lk__sidebar ul li:hover,
.lk__sidebar ul li.active {
  background: #FC7827;
  border-color: #FC7827;
  transition: all 0.3s ease;
}
.lk__sidebar ul li:hover a,
.lk__sidebar ul li.active a {
  color: #FFFFFF;
  transition: color 0.3s ease;
}
.lk__sidebar ul li:hover svg path,
.lk__sidebar ul li.active svg path {
  fill: #FFFFFF;
  transition: all 0.3s ease;
}
.lk__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .lk__head {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .lk__person {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
.lk__person img {
  max-width: 34px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .lk__person img {
    max-width: 64px;
    border-radius: 16px;
  }
}
@media screen and (min-width: 1441) {
  .lk__person img {
    max-width: 80px;
  }
}
.lk__person-data {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 120%;
}
.lk__person-data div {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .lk__person-data div {
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1441) {
  .lk__person-data div {
    font-size: 24px;
    line-height: 24px;
  }
}
.lk__person-data p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #999999;
}
.lk__content {
  margin-bottom: 0;
}
.lk__content:not(:last-of-type) {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .lk__content:not(:last-of-type) {
    margin-bottom: 32px;
  }
}
.lk__buttons {
  display: flex;
  gap: 4px;
}
.lk__buttons .profile-btn {
  padding: 9px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: max-content;
}
@media screen and (min-width: 768px) {
  .lk__buttons .profile-btn {
    max-height: max-content;
    padding: 11px 12px;
    font-weight: 400;
  }
  .lk__buttons .profile-btn svg {
    width: 20px;
    height: 20px;
  }
}
.lk__buttons .profile-btn > div {
  display: flex;
}
.lk__buttons .profile-btn span {
  display: none;
}
@media screen and (min-width: 1441) {
  .lk__buttons .profile-btn {
    align-items: center;
  }
}
.lk__tabs {
  flex-wrap: wrap;
  margin-bottom: 0;
}
@media screen and (min-width: 1441) {
  .lk__tabs {
    margin-bottom: 0;
  }
}
.lk__tabs .tab {
  font-size: 16px;
  padding: 8px 12px;
}
.lk__sorting {
  flex-direction: row;
  gap: 16px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .lk__sorting {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1024px) {
  .lk__sorting {
    gap: 24px;
  }
}
.lk__sorting .sorting__button span {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  white-space: nowrap;
}
.lk__sorting .sorting__button svg {
  width: 16px;
  height: 16px;
}
.lk__section-title-wrapper {
  margin-bottom: 32px;
}
.lk-card {
  border: 1px solid #EBEBEB;
  box-shadow: none;
  transition: all 0.3s ease;
}
.lk-card:hover {
  border-color: #FC7827;
  box-shadow: 0px 8px 64px -12px rgba(20, 20, 20, 0.12);
  transition: all 0.3s ease;
  /*
            button, a {
                &:not(.btn) {
                    color: @primary;
                    transition: all .3s ease;
                }
            }
            */
}
.lk-card button:not(.btn),
.lk-card a:not(.btn) {
  transition: color 0.3s ease;
}
.lk-card button:not(.btn):hover,
.lk-card a:not(.btn):hover {
  color: #FC7827;
  transition: color 0.3s ease;
}
.lk-card__wrapper {
  display: grid;
  gap: 4px;
}
.lk-card__wrapper .offers-list__bottom-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .lk-card__wrapper .offers-list__bottom-btns {
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .lk-card__wrapper .offers-list__actions.tab-elem {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1441) {
  .lk-card__wrapper .offer-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1441) {
  .lk-card__wrapper .offer-header__title {
    max-width: 80%;
    order: 1;
  }
}
@media screen and (min-width: 1441) {
  .lk-card__wrapper .offer-header__main {
    order: 3;
  }
}
@media screen and (min-width: 1441) {
  .lk-card__wrapper .offer-header__sale {
    order: 2;
  }
}
.lk-card__buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.lk-card__notice {
  padding: 16px;
  border: 1px solid #EBEBEB;
  background-color: #FFF2E9;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
.lk-card__notice button:not(.btn--ok) svg path {
  transition: fill 0.3s ease;
}
.lk-card__notice button:not(.btn--ok):hover svg path {
  fill: #232323;
  transition: all 0.3s ease;
}
.lk .deals-wrapper {
  padding-bottom: 64px;
  /*
            .media-min(768px, {
                padding-bottom: 32px;
            });
            */
}
.lk .deals-wrapper .detail__btn {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .lk .deals-wrapper .detail__btn {
    width: max-content;
  }
}
.lk .deals-list {
  gap: 12px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .lk .deals-list {
    margin-bottom: 32px;
  }
}
.lk .deals-item {
  border-radius: 20px;
  padding: 20px 16px;
  transition: all 0.3s ease;
}
.lk .deals-item__button svg path {
  transition: all 0.3s ease;
}
.lk .deals-item__button:hover svg path {
  fill: #232323;
  transition: all 0.3s ease;
}
.lk .deals-item__header {
  margin-bottom: 17px;
}
.lk .deals__title-block {
  margin-bottom: 16px;
}
.lk .deals__title-block span {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  margin-bottom: 8px;
}
.lk .deals__title-block a {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #232323;
  margin-bottom: 12px;
  transition: all 0.3s ease;
}
@media screen and (min-width: 1280) {
  .lk .deals__title-block a {
    font-size: 18px;
  }
}
@media screen and (min-width: 1441) {
  .lk .deals__title-block a {
    font-size: 20px;
  }
}
.lk .deals__title-block ul {
  gap: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.lk .deals__info-block {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  gap: 70px;
}
.lk .deals__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.lk .deals__item span {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}
.lk .deals__item p {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #232323;
}
.lk .deals__title-wrapper {
  margin-bottom: 40px;
}
.lk .vacancies-all {
  max-width: max-content;
  margin: 20px auto 0 auto;
}
@media screen and (min-width: 768px) {
  .lk .vacancies-all {
    margin: 0;
    display: none;
  }
}
.lk .vacancies-all-desk {
  font-size: 18px;
  display: none;
}
.lk .vacancies-list {
  gap: 8px;
  /*margin-bottom: 40px;*/
}
.lk .vacancies-list .offers-grid__bottom {
  gap: 22px;
}
.lk .vacancies-list .offers-grid__bottom .btn_light {
  width: 100%;
  max-width: max-content;
}
.lk .responces__title {
  margin-bottom: 24px;
}
@media screen and (min-width: 1024px) {
  .lk .responces__title {
    margin-bottom: 32px;
  }
}
.lk .responces-list {
  gap: 12px;
  /*margin-bottom: 40px;*/
}
.lk .responces-list__item {
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.3s ease;
}
.lk .responces-item__status {
  color: #232323;
}
.lk .responces-item__icon {
  max-width: 48px;
  max-height: 48px;
  margin-bottom: 20px;
}
.lk .responces-item__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.lk .responces-item__content a {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lk .responces-item__content span,
.lk .responces-item__content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #999999;
}
.lk .responces-item__btn {
  max-width: 170px;
}
.lk .notify-wrapper .page-title {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .lk .notify-wrapper .page-title {
    margin-bottom: 32px;
  }
}
.lk .notify-action {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .lk .notify__tabs {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .lk .notify__sorting {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .lk .notify__sorting .sorting__dropdown {
    width: max-content;
  }
}
.lk .notify-list {
  gap: 12px;
  /*margin-bottom: 40px;*/
}
.lk .notify-list__item {
  padding: 16px;
  border-radius: 20px;
  position: relative;
}
.lk .notify-list__item-header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 12px;
}
.lk .notify-list__item-header .avatar {
  border-radius: 100%;
  width: 32px;
  height: 32px;
}
.lk .notify-list__item-header span {
  line-height: 18px;
  font-weight: 500;
}
.lk .notify-list__item::after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  right: 16px;
  top: 16px;
}
.lk .notify-list__item.unseen::after {
  background-color: #FFB700;
}
.lk .notify-list__item.new::after {
  background-color: #5DB634;
}
.lk .notify-list__item.viewed::after {
  background-color: #c2c2c2;
}
.lk .notify-list__item h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #232323;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .lk .notify-list__item h3 {
    font-size: 18px;
    line-height: 18px;
  }
}
.lk .notify-list__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #999999;
  margin-bottom: 16px;
}
.lk__filters-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .lk__filters-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}
.lk .favorite__title {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .lk .favorite__title {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .lk .favorite-content .vacancies-list {
    gap: 12px;
  }
}
.lk .favorite .offers-grid__title {
  font-size: 16px;
}
.lk .favorite-list {
  gap: 12px;
  /*margin-bottom: 40px;*/
}
.lk .favorite-list__item .offers-list__header {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.lk .favorite-list__item .offers-list__header .offer-header__title {
  margin-bottom: 0;
}
.lk .favorite-list__item .offers-list__header .offer-header__main {
  width: 100%;
  margin-bottom: 0;
}
.lk .favorite-list__item .offers-list__top {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .lk .favorite-list__item .offers-list__top {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .lk .favorite-list__item .offers-list__top .offer-header__main {
    margin-bottom: 0;
  }
}
.lk .favorite-list__item .offers-list__content {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .lk .favorite-list__item .offers-list__content {
    gap: 20px;
  }
}
.lk .favorite-list__item .offers-list__content .profile {
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.lk .favorite-list__item .offers-list__content .offers-list__info {
  margin-bottom: 0;
}
.lk .companies-grid {
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .lk .companies-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.lk .companies-grid__link {
  border: none;
  padding: 0;
  max-width: 95%;
}
.lk .companies-grid__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
@media screen and (min-width: 768px) {
  .lk .companies-grid__name {
    font-size: 16px;
    font-weight: 600;
  }
}
@media screen and (min-width: 1441) {
  .lk .companies-grid__name {
    font-size: 18px;
  }
}
.lk .companies-grid__counter {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
@media screen and (min-width: 768px) {
  .lk .companies-grid__counter {
    font-size: 14px;
  }
}
@media screen and (min-width: 1441) {
  .lk .companies-grid__counter {
    font-size: 16px;
  }
}
.lk .companies-grid__item {
  display: flex;
  position: relative;
  padding: 8px;
  border-radius: 16px;
}
.lk .companies-grid__item .companies-grid__info {
  gap: 8px;
}
.lk .companies-grid__item .avatar.empty svg {
  max-width: 24px;
}
@media screen and (min-width: 768px) {
  .lk .companies-grid__item .avatar.empty svg {
    max-width: 48px;
  }
}
@media screen and (min-width: 1024px) {
  .lk .companies-grid__item .avatar {
    width: 80px;
    height: 80px;
  }
}
.lk .companies-grid__item .icon-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
}
.lk .companies-grid__item .icon-button:hover svg path {
  fill: #232323;
  transition: all 0.3s ease;
}
.lk .companies-grid__item .icon-button svg {
  width: 16px;
  height: 16px;
}
.lk .companies-grid__item .icon-button svg path {
  transition: fill 0.3s ease;
}
@media screen and (min-width: 1024px) {
  .lk .companies-grid__item .icon-button svg {
    width: 24px;
    height: 24px;
  }
}
.lk .companies-grid__name {
  color: #232323;
}
.lk .employer__deals-dop-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .lk .employer__deals-dop-btns {
    justify-content: flex-start;
    width: auto;
  }
}
.lk .employer__deals-dop-btns .btn_light {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .lk .employer__deals-dop-btns .btn_light {
    width: auto;
  }
}
.lk .employer-requisites .lk-bubble p {
  line-clamp: 1;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lk .employer__title-wrapper {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .lk .employer__title-wrapper {
    margin-bottom: 24px;
  }
}
.lk .employer__search-form {
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .lk .employer__search-form {
    margin-bottom: 16px;
  }
}
.lk .employer__deals-list {
  gap: 8px;
}
.lk .employer__responces-list {
  gap: 12px;
  /*margin-bottom: 40px;*/
}
.lk .employer__responces-item {
  border-radius: 16px;
  padding: 16px 16px 24px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
}
@media screen and (min-width: 1441) {
  .lk .employer__responces-item {
    padding: 20px;
    gap: 16px;
  }
}
.lk .employer__responces-item__vacancy {
  font-weight: 500;
  line-height: 18px;
  font-size: 14px;
  color: #FC7827;
}
@media screen and (min-width: 768px) {
  .lk .employer__responces-item__vacancy {
    font-size: 16px;
  }
}
.lk .employer__responces-item__body {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
}
.lk .employer__responces-item__body .offer-header__main {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .lk .employer__responces-item__body .offer-header__main {
    gap: 24px;
  }
}
.lk .employer__responces-item__body .offers-list__info {
  margin-bottom: 0;
}
.lk .employer__responces-item__body .profile {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .lk .employer__responces-item__body .profile {
    gap: 20px;
  }
}
.lk .employer__responces-item__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .lk .employer__responces-item__footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.lk .employer__responces-item__footer .buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .lk .employer__responces-item__footer .buttons-wrapper {
    justify-content: flex-start;
    gap: 8px;
  }
}
.lk .employer__responces-item__footer .buttons-wrapper .chat__btn svg {
  display: none;
}
.lk .employer__responces-item__footer .buttons-wrapper .accept__btn {
  font-weight: 400;
}
.lk .employer__responces-item__footer .buttons-wrapper .accept__btn span {
  display: none;
}
.lk .employer__responces-item__footer .buttons-wrapper a {
  margin-left: 14px;
}
@media screen and (min-width: 768px) {
  .lk .employer__responces-item__footer .buttons-wrapper a {
    margin-top: 0;
  }
}
.lk .employer__responces-item__title {
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .lk .employer__responces-item__title {
    flex-direction: row;
    justify-content: space-between;
  }
}
.lk .employer__responces-item__title h3 {
  margin-bottom: 0;
  font-size: 16px;
  color: #232323;
}
@media screen and (min-width: 768px) {
  .lk .employer__responces-item__title h3 {
    font-size: 18px;
  }
}
.lk .employer__responces-item__title span {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}
@media screen and (min-width: 768px) {
  .lk .employer__responces-item__title span {
    font-size: 16px;
  }
}
.lk .mob__hide-text span {
  display: none;
}
.lk__form {
  overflow-y: scroll;
}
.lk__form-inputs {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  width: 100%;
}
.lk__main-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  height: 90vh;
  overflow: hidden;
  padding-right: 0;
}
.lk__main-form-btn {
  background-color: #FFFFFF;
  padding: 24px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .lk__main-form-btn {
    position: sticky;
  }
}
.lk__main-form-btn button {
  justify-content: center;
}
.lk__main-form-inputs {
  flex: 1;
  min-height: 0;
  margin-bottom: 0;
  overflow-y: auto;
  padding-right: 10px;
}
.lk__input-element p {
  display: block;
  margin-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}
.lk__input-element .subcaption {
  margin-bottom: 16px;
  display: block;
}
.lk__input-wrapper {
  padding: 12px 20px;
  border: 1px solid #EBEBEB;
  border-radius: 32px;
  position: relative;
  color: #232323;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
}
.lk__input-wrapper input {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #999999;
  display: inline-block;
  width: 100%;
}
.lk__input-wrapper input[type="radio"],
.lk__input-wrapper input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
}
.lk__input-wrapper input[type="text"] {
  line-clamp: 1;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lk__input-wrapper:has(input:checked) {
  color: #FFFFFF;
  background-color: #FC7827;
  transition: all 0.3s ease;
}
.lk__input-wrapper:has(input:checked) svg path {
  fill: #FFFFFF;
}
.lk__input-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
}
.lk__input-grid .lk__input-wrapper:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.lk__inputs-set {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
}
.lk__main-form__date-wrapper .select:last-child {
  grid-column-start: 1;
  grid-column-end: 3;
}
.lk__radio-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.lk__radio-buttons label {
  width: 100%;
}
.lk__radio-buttons label .radio__label {
  font-size: 18px;
  padding: 10px 16px;
}
.lk__checkbox-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.lk__checkbox-buttons label {
  text-align: center;
  background-color: transparent;
  color: inherit;
  transition: all 0.3s ease;
}
.lk__checkbox-buttons label:hover {
  background-color: #FC7827;
  color: #FFFFFF;
  transition: all 0.3s ease;
}
.lk__modal[data-modal="edit__company"] .modal__wrapper {
  padding-bottom: 0;
}
.lk__modal[data-modal="edit__company"] .modal__wrapper .icon-button {
  padding: 0;
  width: 24px;
  height: 24px;
  right: 20px;
}
.lk__modal-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.lk__modal-form-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}
.lk__modal-form-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.lk__modal-form.lk__univercity-form .lk__main-form__date-wrapper {
  grid-template-columns: repeat(1, 1fr);
}
.lk__modal-form .modal-contact {
  padding: 12px;
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.lk__modal-form .modal-contact svg path {
  transition: all 0.3s ease;
}
.lk__modal-form .modal-contact:hover {
  background-color: #FC7827;
}
.lk__modal-form .modal-contact:hover svg path {
  fill: #FFFFFF;
  transition: all 0.3s ease;
}
.lk .docs__title {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .lk .docs__title {
    margin-bottom: 32px;
  }
}
.lk .docs-bubbles {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .lk .docs-bubbles {
    gap: 12px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1280) {
  .lk .docs-bubbles {
    grid-template-columns: repeat(3, 1fr);
  }
}
.lk .docs-bubbles .lk-bubble {
  gap: 8px;
  padding: 13px 16px;
}
.lk .docs-bubbles .lk-bubble__content {
  gap: 8px;
}
.lk .docs-bubbles .lk-bubble__content svg {
  min-width: 24px;
  height: 24px;
}
.lk .docs-bubbles .lk-bubble__text-wrapper p {
  word-break: break-all;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lk .docs-bubbles .lk-bubble__buttons-wrapper {
  opacity: 1;
  pointer-events: all;
}
@media screen and (min-width: 1280) {
  .lk .docs-bubbles .lk-bubble__buttons-wrapper .btn {
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }
}
.lk .docs-bubbles .lk-bubble:hover .lk-bubble__buttons-wrapper .btn {
  opacity: 1;
  pointer-events: all;
  transition: all 0.3s ease;
}
.lk .docs__section > button {
  max-width: max-content;
  font-weight: 400;
}
.lk .show-all-btn {
  color: initial;
  transition: color 0.3s ease;
}
.lk .show-all-btn:hover {
  color: #FC7827;
  transition: color 0.3s ease;
}
.lk .moderator__list {
  gap: 12px;
}
.lk .moderator__item {
  padding: 20px 16px;
  border-radius: 20px;
  gap: 16px;
}
.lk .moderator__item__date-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (min-width: 1441) {
  .lk .moderator__item__date-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.lk .moderator__item__date-wrapper .date {
  color: #999999;
}
.lk .moderator__item__date-wrapper .employment {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}
.lk .moderator__item .offers-grid__info {
  margin-bottom: 0;
  gap: 12px;
}
.lk .moderator__item .offers-grid__info .offer-info__item {
  font-size: 16px;
}
.lk .moderator__item .offers-grid__tags {
  margin-bottom: 0;
  gap: 12px;
  flex-wrap: wrap;
}
.lk .moderator__item .offers-grid__bottom {
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  padding-top: 16px;
  border-top: 1px solid #EBEBEB;
}
@media screen and (min-width: 768px) {
  .lk .moderator__item .offers-grid__bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.lk .moderator__item .offers-grid__bottom .offer-actions {
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .lk .moderator__item .offers-grid__bottom .offer-actions {
    flex-direction: row;
  }
}
.lk .moderator__item__title-wrapper .offer-header__main-item {
  font-size: 14px;
  line-height: 16px;
}
.lk .moderator__item .offers-list__info {
  margin-bottom: 0;
}
.lk .moderator__resume-list .moderator__item__date-wrapper {
  gap: 8px;
  margin-bottom: 8px;
}
.lk .moderator__resume-list .offers-grid__tags {
  flex-direction: column;
}
.lk .moderator__img {
  max-width: 120px;
}
.lk .moderator__img img {
  width: 100%;
  height: 100%;
}
.lk .btn--show {
  cursor: pointer;
}
.lk.constructor {
  overflow: hidden;
  padding-top: 102px;
}
.lk.constructor .container {
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .lk.constructor .container {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1024px) {
  .lk.constructor .container {
    padding: 0;
    max-width: 808px;
  }
}
.lk .constructor__steps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .lk .constructor__steps {
    margin-bottom: 32px;
  }
}
.lk .constructor__steps .progress-step {
  position: relative;
  width: 16%;
  height: 4px;
  border-radius: 4px;
  background-color: #FFF2E9;
}
.lk .constructor__steps .progress-step.active {
  background-color: #FC7827;
}
.lk .constructor-title {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .lk .constructor-title {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1441px) {
  .lk .constructor-title {
    font-size: 40px;
  }
}
.lk .constructor__forms .subcaption {
  margin-bottom: 16px;
  color: #232323;
}
.lk .constructor__forms form {
  gap: 24px;
  transform: translateY(20%);
  opacity: 0;
  /*max-width: 0;*/
  max-height: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
@media screen and (min-width: 768px) {
  .lk .constructor__forms form {
    gap: 32px;
  }
}
.lk .constructor__forms form .lk__input-wrapper {
  padding: 12px;
}
.lk .constructor__forms form .experience-block {
  gap: 48px;
}
.lk .constructor__forms form .template-wrapper {
  gap: 32px;
}
.lk .constructor__forms form.active {
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
  transition: all 0.3s ease;
}
.lk .constructor__forms form .resume-file-inputs-wrapper {
  gap: 33px;
}
.lk .constructor__forms form .big-input {
  padding: 23px 24px;
}
.lk .constructor__forms form .big-select input {
  padding: 19px 20px;
}
.lk .constructor__forms form .education-add {
  margin-top: 32px;
}
.lk .constructor__forms form .institutions-list {
  gap: 8px;
}
.lk .constructor__forms form .institutions-bubble {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: 20px;
  border-radius: 32px;
}
@media screen and (min-width: 768px) {
  .lk .constructor__forms form .institutions-bubble {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.lk .constructor__forms form .institutions-bubble.checkbox {
  align-items: flex-start;
}
.lk .constructor__forms form .institutions-bubble:has(.checkbox__input:checked) {
  background: #FFF2E9;
}
.lk .constructor__forms form .institutions-bubble:hover {
  background: #FFF2E9;
}
.lk .constructor__forms-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 465px) {
  .lk .constructor__forms-actions {
    flex-direction: row;
  }
}
@media screen and (min-width: 1441px) {
  .lk .constructor__forms-actions {
    margin-top: 32px;
  }
}
.lk .constructor__forms-actions .preview-btn {
  width: 100%;
}
@media screen and (min-width: 465px) {
  .lk .constructor__forms-actions .preview-btn {
    width: max-content;
  }
}
.lk .constructor__forms-actions .prev-back__actions {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 465px) {
  .lk .constructor__forms-actions .prev-back__actions {
    justify-content: flex-end;
  }
}
.lk .constructor__forms-actions .prev-back__actions .btn-next,
.lk .constructor__forms-actions .prev-back__actions .prev-step {
  min-width: 76px;
  width: 100%;
}
@media screen and (min-width: 465px) {
  .lk .constructor__forms-actions .prev-back__actions .btn-next,
  .lk .constructor__forms-actions .prev-back__actions .prev-step {
    width: max-content;
  }
}
.lk .constructor__forms .lk__custom-select-list {
  top: 35px;
}
.lk .constructor__forms .lk__main-form__date-wrapper {
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 768px) {
  .lk .constructor__forms .lk__main-form__date-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
.lk .constructor__forms .lk__main-form__date-wrapper .lk__input-wrapper:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 1;
}
.lk .constructor__skills {
  gap: 32px;
}
.lk .constructor__inputs-checkbox {
  padding: 12px;
}
.lk .constructor__inputs-list {
  gap: 8px;
}
.lk .constructor__inputs-set {
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .lk .constructor__inputs-set .grid-bubbles.personal-bubbles {
    grid-template-columns: repeat(1, 1fr);
  }
}
.lk .constructor__inputs-set.duties {
  gap: 8px;
}
.lk .constructor__inputs-set .lk__main-form__date-wrapper .select:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 2;
}
@media screen and (min-width: 768px) {
  .lk .constructor__inputs-set .lk__main-form__date-wrapper .select:nth-child(3) {
    grid-column-start: auto;
    grid-column-end: auto;
  }
}
.lk .constructor__inputs-group .constructor-select {
  margin-bottom: 8px;
}
.lk .constructor__inputs-title {
  margin-bottom: 17px;
}
.lk .constructor__inputs-title .subcaption {
  margin-bottom: 12px;
}
.lk .constructor__inputs-checkbox .checkbox__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #232323;
}
.lk .constructor-select .lk__input-wrapper {
  padding: 20px;
}
.lk .constructor__bubbles-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.lk .constructor__bubbles-list.top-skills {
  gap: 2px;
}
.lk .constructor__bubbles-list.bright-bubbles .constructor__bubbles-item {
  background-color: #FFF2E9;
}
.lk .constructor__bubbles-list.gray-bubbles .constructor__bubbles-item {
  background-color: #EBEBEB;
}
.lk .constructor__bubbles-item {
  width: max-content;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: 32px;
  cursor: pointer;
}
.lk .constructor__textarea-wrapper {
  border: none;
  padding: 0;
}
.lk .constructor__textarea-wrapper textarea {
  padding: 24px;
  border-radius: 16px;
  display: block;
  min-height: 220px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Montserrat', sans-serif;
}
.lk .constructor__hints-wrapper {
  /*
            overflow: visible;
            max-width: 288px;


            .slick-list {
                overflow: visible;
            }
            */
}
.lk .constructor__hints-wrapper .hint {
  border-radius: 12px;
  padding: 12px;
  width: 220px;
  height: 100%;
  margin-right: 8px;
  transition: all 0.3s ease;
  background-color: transparent;
  border-color: auto;
  color: #999999;
}
@media screen and (min-width: 768px) {
  .lk .constructor__hints-wrapper .hint {
    width: auto;
    max-width: calc(33.5% - 8px);
  }
}
.lk .constructor__hints-wrapper .hint:hover {
  border-color: #FC7827;
  color: #232323;
  transition: all 0.3s ease;
}
.lk .constructor__hints-wrapper .hint.active {
  background-color: #FFF2E9;
  color: #232323;
  transition: all 0.3s ease;
}
.lk .constructor__files-result-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
}
.lk .constructor__files-result-noties {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
  max-width: max-content;
}
.lk .constructor__files-result-noties .errors {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #F14C4C;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.lk .constructor__files-result-noties .info {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  display: flex;
  gap: 12px;
}
.lk .constructor__files-preview {
  width: 84px;
  height: 104px;
  border-radius: 8px;
  position: relative;
}
.lk .constructor__files-preview img {
  object-fit: cover;
  height: 100%;
  border-radius: 8px;
}
.lk .constructor__files-remove {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 2px;
  border-radius: 100%;
  background: #fff;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.lk .constructor__files-remove svg path {
  transition: fill 0.3s ease;
}
.lk .constructor__files-remove:hover {
  background: #FC7827;
  transition: all 0.3s ease;
}
.lk .constructor__files-remove:hover svg path {
  transition: all 0.3s ease;
  fill: #fff;
}
.lk .constructor__files-more {
  background-color: #EBEBEB;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.lk .constructor__files-more:hover {
  background-color: #999999;
  transition: all 0.3s ease;
}
.lk .constructor__files-more span {
  background-color: #FFFFFF;
  padding: 6px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lk .constructor__files-input-wrapper {
  padding: 26px 12px;
  border: 1px solid #EBEBEB;
  border-radius: 32px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  cursor: pointer;
}
.lk .constructor__files-input-wrapper:focus,
.lk .constructor__files-input-wrapper:hover,
.lk .constructor__files-input-wrapper.drag-over {
  background-color: #FFF2E9;
  transition: background-color 0.3s ease;
}
.lk .constructor__files-input-wrapper input[type="file"] {
  opacity: 0;
  max-width: 0;
  max-height: 0;
}
.lk .constructor__files-input-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.lk .constructor__files-input-text .file-input-title {
  font-size: 16px;
  font-weight: 500;
}
.lk .constructor__files-input-text .file-input-title span {
  color: #FC7827;
}
.lk .constructor__files-input-text p {
  font-size: 12px;
  line-height: 14px;
  color: #999999;
}
@media screen and (min-width: 768px) {
  .lk .grid-2-columns {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
  }
}
.lk .grid-2-columns__with-title span {
  font-weight: 500;
  line-height: 18px;
  color: #999999;
  display: block;
  margin-bottom: 8px;
}
.lk label {
  cursor: pointer;
}
.btn--ok {
  display: block;
  max-width: 0;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s ease;
}
.btn--ok.showed {
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  transition: all 0.3s ease;
}
@media screen and (min-width: 768px) {
  .mob-elem {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .tab-elem {
    display: block !important;
  }
  .tab-elem.icons-block {
    display: flex !important;
  }
}
@media screen and (min-width: 1024px) {
  .desk-elem {
    display: block !important;
  }
  .desk-elem.icons-block {
    display: flex !important;
  }
}
