.page-title {
  font-size: 32px;
  line-height: 32px;
}
@media screen and (min-width: 768px) {
  .page-title {
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (min-width: 1441px) {
  .page-title {
    font-size: 48px;
    line-height: 48px;
  }
}
.label-title {
  font-size: 18px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .label-title {
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1441px) {
  .label-title {
    font-size: 24px;
    line-height: 24px;
  }
}
.section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 110%;
}
.grid-bubbles {
  gap: 8px;
}
.tight-bubble {
  padding: 14px 20px;
  border-radius: 32px;
}
.tight-bubble span {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  color: #999999;
}
.tight-bubble p {
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #232323;
}
.gray-bubble {
  border: 1px solid #EBEBEB;
  background-color: #F5F5F5;
}
.bright-bubble {
  border: 1px solid #EBEBEB;
}
.bright-bubble:hover,
.bright-bubble:focus {
  border-color: #FC7827;
}
.full-width {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.full-width span {
  margin: 0;
}
.with-icon {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
}
.with-icon svg {
  width: 24px;
  height: 24px;
}
.with-icon:hover,
.with-icon:focus {
  border-color: #FC7827;
}
.with-icon:hover .lk-bubble__buttons-wrapper,
.with-icon:focus .lk-bubble__buttons-wrapper {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s ease-in-out;
}
.btn_has-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.transp-btn {
  background: transparent;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
}
.transp-btn svg {
  width: 16px;
  height: 16px;
}
.big-bubble {
  padding: 16px 16px 20px;
  border: 1px solid #EBEBEB;
  border-radius: 16px;
}
.big-bubble span {
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #999999;
}
.big-bubble p {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  color: #232323;
}
.grid-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.desk-elem {
  display: none;
}
@media screen and (min-width: 768px) {
  .desk-elem {
    display: block;
  }
}
.state {
  padding: 4px 8px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  color: #FFFFFF;
}
.state.publish {
  background-color: #5DB634;
}
.state.working {
  background-color: #FFB700;
}
.state.blocked {
  background-color: #F14C4C;
}
.state.neutral {
  background-color: #EBEBEB;
}
.lk {
  padding-top: 82px;
  padding-bottom: 61px;
}
.lk .page-title {
  font-size: 28px;
  line-height: 100%;
}
.lk__page-title {
  margin-bottom: 40px;
}
.lk-bubble span {
  display: block;
  margin-bottom: 4px;
}
.lk-bubble__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.lk-bubble__buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
.lk-bubble__education {
  flex-wrap: wrap;
  gap: 16px;
}
.lk-bubble__education .date {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.lk-bubble__education .date span {
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #232323;
}
.lk-bubble__education .date p {
  font-weight: 600;
  font-size: 16px;
  line-height: 113%;
  color: #FC7827;
}
.lk-bubble__education .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.lk-bubble__education .text span {
  font-weight: 600;
  font-size: 16px;
  line-height: 113%;
  color: #232323;
}
.lk-bubble__education .text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #999999;
}
.lk__wrapper {
  display: flex;
  flex-direction: column;
}
.lk__sidebar {
  display: none;
}
.lk__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.lk__person img {
  max-width: 80px;
  border-radius: 16px;
}
.lk__person-data {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 120%;
}
.lk__person-data div {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}
.lk__person-data p {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  color: #999999;
}
.lk__content {
  margin-bottom: 0;
}
.lk__content:not(:last-of-type) {
  margin-bottom: 40px;
}
.lk__buttons {
  display: flex;
  gap: 4px;
}
.lk__buttons .profile-btn {
  padding: 0;
  background: transparent;
  border: none;
  align-items: flex-start;
}
.lk__buttons .profile-btn span {
  display: none;
}
.lk__buttons .profile-btn svg {
  display: none;
}
.lk__buttons .profile-btn .mob-icon svg {
  display: block;
}
.lk__tabs {
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.lk__sorting {
  flex-direction: row;
  gap: 8px;
  margin-bottom: 41px;
}
.lk__sorting .sorting__button span {
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
}
.lk__sorting .sorting__button svg {
  width: 16px;
  height: 16px;
}
.lk__section-title-wrapper {
  margin-bottom: 32px;
}
.lk-card {
  border: 1px solid #EBEBEB;
}
.lk .deals-wrapper {
  padding-bottom: 64px;
}
.lk .deals-list {
  gap: 12px;
  margin-bottom: 32px;
}
.lk .deals-item {
  border-radius: 20px;
  padding: 20px 16px;
}
.lk .deals-item__header {
  margin-bottom: 17px;
}
.lk .deals__title-block {
  margin-bottom: 16px;
}
.lk .deals__title-block span {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #999999;
  margin-bottom: 8px;
}
.lk .deals__title-block h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #232323;
  margin-bottom: 12px;
}
.lk .deals__title-block ul {
  gap: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
}
.lk .deals__info-block {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.lk .deals__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.lk .deals__item span {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #999999;
}
.lk .deals__item p {
  font-weight: 600;
  font-size: 16px;
  line-height: 113%;
  color: #232323;
}
.lk .deals__title-wrapper {
  margin-bottom: 40px;
}
.lk .vacancies-all {
  max-width: max-content;
}
.lk .vacancies-list {
  gap: 8px;
  margin-bottom: 40px;
}
.lk .responces-list {
  gap: 12px;
  margin-bottom: 40px;
}
.lk .responces-list__item {
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.lk .responces-item__status {
  color: #232323;
}
.lk .responces-item__icon {
  max-width: 48px;
  max-height: 48px;
  margin-bottom: 20px;
}
.lk .responces-item__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.lk .responces-item__content h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #000;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lk .responces-item__content span,
.lk .responces-item__content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #999999;
}
.lk .responces-item__btn {
  max-width: 170px;
}
.lk .notify-list {
  gap: 12px;
  margin-bottom: 40px;
}
.lk .notify-list__item {
  padding: 16px;
  border-radius: 20px;
}
.lk .notify-list__item h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #232323;
  margin-bottom: 12px;
  position: relative;
}
.lk .notify-list__item h3.unseen::after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #5DB634;
  border-radius: 100%;
  right: 0;
  top: 0;
}
.lk .notify-list__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #999999;
  margin-bottom: 16px;
}
.lk .favorite-list {
  gap: 12px;
  margin-bottom: 40px;
}
.lk .favorite-list__item .offers-list__top {
  margin-bottom: 24px;
}
.lk .favorite-list__item .offers-list__content {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  margin-bottom: 24px;
}
.lk .favorite-list__item .offers-list__content .profile {
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.lk .favorite-list__item .offers-list__content .offers-list__info {
  margin-bottom: 0;
}
.lk .companies-grid {
  gap: 12px;
  margin-bottom: 40px;
}
.lk .companies-grid__link {
  border: none;
  padding: 0;
  max-width: 95%;
}
.lk .companies-grid__item {
  display: flex;
  position: relative;
  padding: 12px 20px 12px 12px;
  border: 1px solid #EBEBEB;
  border-radius: 16px;
}
.lk .companies-grid__item .icon-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
}
.lk .companies-grid__item .icon-button svg {
  width: 16px;
  height: 16px;
}
.lk .employer-requisites .lk-bubble p {
  line-clamp: 1;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lk .employer__title-wrapper {
  margin-bottom: 40px;
}
.lk .employer__search-form {
  margin-bottom: 24px;
}
.lk__main-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
  height: 90vh;
}
.lk__main-form-btn {
  background-color: #FFFFFF;
  padding: 24px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.lk__main-form-btn button {
  justify-content: center;
}
.lk__main-form-inputs {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  margin-bottom: 100px;
  width: 100%;
}
.lk__input-element .subcaption {
  margin-bottom: 16px;
  display: block;
}
.lk__input-wrapper {
  padding: 12px 20px;
  border: 1px solid #EBEBEB;
  border-radius: 32px;
  position: relative;
  color: #232323;
  background-color: transparent;
  transition: all 0.3s ease;
  width: 100%;
}
.lk__input-wrapper input {
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #999999;
}
.lk__input-wrapper input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}
.lk__input-wrapper input[type="text"] {
  line-clamp: 1;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lk__input-wrapper:has(input:checked) {
  color: #FFFFFF;
  background-color: #FC7827;
  transition: all 0.3s ease;
}
.lk__input-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
}
.lk__input-grid .lk__input-wrapper:last-child {
  grid-column-start: 1;
  grid-column-end: 3;
}
.lk__custom-select {
  position: relative;
}
.lk__custom-select-choise {
  background-color: #FFFFFF;
}
.lk__custom-select::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(/images/arrow-bottom.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  right: 0;
  top: 50%;
  transform: rotate(0deg) translate(50%, -50%);
  transition: transform 0.3s ease;
}
.lk__custom-select.active {
  z-index: 1001;
}
.lk__custom-select.active::after {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.lk__custom-select-list {
  padding: 22px 20px 12px 20px;
  background-color: #FFFFFF;
  border-radius: 0 0 22px 22px;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #EBEBEB;
  border-right: 1px solid #EBEBEB;
  border-left: 1px solid #EBEBEB;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: opacity 0.3s ease;
}
.lk__custom-select-list-container {
  max-height: 160px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
}
.lk__custom-select-list.active {
  opacity: 1;
  pointer-events: all;
  z-index: 1000;
  transition: opacity 0.3s ease;
}
.lk__custom-select-list div {
  color: #232323;
  transition: color 0.3s ease;
}
.lk__custom-select-list div:hover,
.lk__custom-select-list div.active {
  color: #FC7827;
  transition: color 0.3s ease;
}
.lk__radio-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.lk__radio-buttons label.lk__input-wrapper {
  text-align: center;
}
