.page-title {
  font-size: 32px;
  line-height: 32px;
}
@media screen and (min-width: 768px) {
  .page-title {
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (min-width: 1441px) {
  .page-title {
    font-size: 48px;
    line-height: 48px;
  }
}
.label-title {
  font-size: 18px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .label-title {
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1441px) {
  .label-title {
    font-size: 24px;
    line-height: 24px;
  }
}
.offers {
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .offers {
    margin-bottom: 56px;
  }
}
.offers__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .offers__header {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1441px) {
  .offers__header {
    margin-bottom: 48px;
  }
}
.offers__caption {
  margin-right: 10px;
}
.offers__link {
  font-size: 18px;
  line-height: 22px;
}
@media screen and (max-width: 767px) {
  .offers__link {
    display: none;
  }
}
.offers__nav {
  margin: 32px auto 0;
  gap: 8px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 465px) {
  .offers__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 433px;
  }
}
@media screen and (min-width: 768px) {
  .offers__nav {
    max-width: 100%;
    justify-content: center;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1441px) {
  .offers__nav {
    margin-top: 48px;
  }
}
.offer-actions {
  display: flex;
  align-items: center;
  gap: 4px;
}
.offer-header__title {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .offer-header__title {
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1441px) {
  .offer-header__title {
    font-size: 24px;
    line-height: 24px;
  }
}
.offer-header__main {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .offer-header__main {
    gap: 12px;
  }
}
@media screen and (min-width: 1441px) {
  .offer-header__main {
    gap: 16px 24px;
  }
}
.offer-header__main-item {
  font-size: 12px;
  line-height: 14px;
}
@media screen and (min-width: 768px) {
  .offer-header__main-item {
    font-size: 14px;
    line-height: 16px;
  }
}
.offer-header__main-item.has-dot {
  display: flex;
  align-items: center;
  gap: 4px;
}
.offer-header__sale {
  font-size: 18px;
  line-height: 22px;
}
@media screen and (min-width: 1441px) {
  .offer-header__sale {
    font-size: 22px;
    line-height: 26px;
  }
}
.offer-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px 16px;
}
@media screen and (min-width: 768px) {
  .offer-info {
    flex-direction: row;
  }
}
@media screen and (min-width: 1441px) {
  .offer-info {
    gap: 16px 32px;
  }
}
.offer-info__item {
  display: flex;
  align-items: center;
  gap: 4px;
}
@media screen and (max-width: 767px) {
  .offer-info__item {
    font-size: 14px;
    line-height: 16px;
  }
}
